<!doctype html>
<html>
  <head>
    <title>Search - <%= siteName %></title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <h2>Search Public Workouts</h2>
      <form method="GET" action="/workouts/search-results">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <p><input type="text" name="q" placeholder="e.g. run, cycling" required/></p>
        <p><button class="btn" type="submit">Search</button></p>
      </form>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
